<a href="https://colab.research.google.com/github/Lameeselbakr55/NTI_AI_Projects/blob/master/Linear_Regression_on_Auto_MPG_DataSet_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Linear Regression on Auto MPG DataSet

##Load Data and preprocessing

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.datasets import boston_housing
from keras.layers import Dense, Activation
from sklearn.preprocessing import MinMaxScaler

url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year', 'Origin']

raw_dataset = pd.read_csv(url, names=column_names,
                          na_values='?', comment='\t',
                          sep=' ', skipinitialspace=True)

In [2]:
raw_dataset

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [6]:
# Normalize data
mms = MinMaxScaler()
mms.fit(raw_dataset)

raw_dataset=mms.transform(raw_dataset)
raw_dataset
df=pd.DataFrame(raw_dataset)
df

            0    1         2         3         4         5    6    7
0    0.239362  1.0  0.617571  0.456522  0.536150  0.238095  0.0  0.0
1    0.159574  1.0  0.728682  0.646739  0.589736  0.208333  0.0  0.0
2    0.239362  1.0  0.645995  0.565217  0.516870  0.178571  0.0  0.0
3    0.186170  1.0  0.609819  0.565217  0.516019  0.238095  0.0  0.0
4    0.212766  1.0  0.604651  0.510870  0.520556  0.148810  0.0  0.0
..        ...  ...       ...       ...       ...       ...  ...  ...
393  0.478723  0.2  0.186047  0.217391  0.333711  0.452381  1.0  0.0
394  0.930851  0.2  0.074935  0.032609  0.146583  0.988095  1.0  0.5
395  0.611702  0.2  0.173127  0.206522  0.193365  0.214286  1.0  0.0
396  0.505319  0.2  0.134367  0.179348  0.286929  0.630952  1.0  0.0
397  0.585106  0.2  0.131783  0.195652  0.313864  0.678571  1.0  0.0

[398 rows x 8 columns]

Splitting

In [7]:
df = pd.DataFrame(raw_dataset)
x=df.iloc[:,4:6]
x

y=df.iloc[:,0]
y

0      0.239362
1      0.159574
2      0.239362
3      0.186170
4      0.212766
         ...
393    0.478723
394    0.930851
395    0.611702
396    0.505319
397    0.585106
Name: 0, Length: 398, dtype: float64

In [ ]:
x.shape
y.shape

(398,)

In [8]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)
X_train

            4         5
204  0.106890  0.535714
186  0.166997  0.434524
3    0.516019  0.238095
390  0.298270  0.351190
193  0.396654  0.571429
..        ...       ...
299  0.447122  1.000000
22   0.216048  0.565476
72   0.646158  0.267857
15   0.345903  0.446429
168  0.290899  0.535714

[318 rows x 2 columns]

In [9]:
y_train
y_test.shape

(80,)

##Building model and fitting

In [10]:
model = Sequential()
model.add(Dense(1, input_dim=2))
model.add(Activation('linear'))

In [11]:
model.compile(loss='mse',optimizer='sgd')

In [12]:
history = model.fit([X_train], [y_train], epochs=50, verbose=1)

Epoch 1/50
10/10 [==============================] - 0s 2ms/step - loss: 1.0298
Epoch 2/50
10/10 [==============================] - 0s 2ms/step - loss: 0.6035
Epoch 3/50
10/10 [==============================] - 0s 1ms/step - loss: 0.3571
Epoch 4/50
10/10 [==============================] - 0s 1ms/step - loss: 0.2147
Epoch 5/50
10/10 [==============================] - 0s 1ms/step - loss: 0.1325
Epoch 6/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0851
Epoch 7/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0576
Epoch 8/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0417
Epoch 9/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0324
Epoch 10/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0271
Epoch 11/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0240
Epoch 12/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0222
Epoch 13/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0211
Epoch 14/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0204
Epoch 15/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0200
Epoch 16/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0197
Epoch 17/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0195
Epoch 18/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0194
Epoch 19/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0193
Epoch 20/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0192
Epoch 21/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0191
Epoch 22/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0190
Epoch 23/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0190
Epoch 24/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0189
Epoch 25/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0188
Epoch 26/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0188
Epoch 27/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0187
Epoch 28/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0186
Epoch 29/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0186
Epoch 30/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0185
Epoch 31/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0185
Epoch 32/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0184
Epoch 33/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0184
Epoch 34/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0183
Epoch 35/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0182
Epoch 36/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0182
Epoch 37/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0181
Epoch 38/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0181
Epoch 39/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0180
Epoch 40/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0180
Epoch 41/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0179
Epoch 42/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0179
Epoch 43/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0178
Epoch 44/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0178
Epoch 45/50
10/10 [==============================] - 0s 2ms/step - loss: 0.0177
Epoch 46/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0177
Epoch 47/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0177
Epoch 48/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0176
Epoch 49/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0176
Epoch 50/50
10/10 [==============================] - 0s 1ms/step - loss: 0.0175

##Results

In [ ]:
predict = model.predict(X_test)
predict

array([[0.4940375 ],
       [0.33599377],
       [0.2766283 ],
       [0.41102564],
       [0.27995008],
       [0.5669426 ],
       [0.4788621 ],
       [0.4734587 ],
       [0.54090625],
       [0.47663647],
       [0.59005976],
       [0.3749231 ],
       [0.25327098],
       [0.44881552],
       [0.21776018],
       [0.2922984 ],
       [0.39431003],
       [0.40244755],
       [0.20570976],
       [0.3007737 ],
       [0.31179014],
       [0.36569342],
       [0.26839572],
       [0.4100356 ],
       [0.492849  ],
       [0.49399287],
       [0.38375008],
       [0.3394106 ],
       [0.21681678],
       [0.37516522],
       [0.30445263],
       [0.25361556],
       [0.3045473 ],
       [0.20917901],
       [0.35547197],
       [0.25441086],
       [0.40546945],
       [0.2953771 ],
       [0.7204875 ],
       [0.3515662 ],
       [0.53545517],
       [0.4482211 ],
       [0.40542108],
       [0.2626914 ],
       [0.2861004 ],
       [0.33817607],
       [0.4667647 ],
       [0.47449917],
       [0.14951833],
       [0.28143755],
       [0.21160951],
       [0.6372251 ],
       [0.34972873],
       [0.3543899 ],
       [0.40210062],
       [0.53500414],
       [0.23933312],
       [0.27245638],
       [0.47112763],
       [0.26254264],
       [0.32171097],
       [0.31650034],
       [0.21423885],
       [0.58579355],
       [0.673377  ],
       [0.25317156],
       [0.32572463],
       [0.23461717],
       [0.52816033],
       [0.33753157],
       [0.6238336 ],
       [0.09739432],
       [0.4594735 ],
       [0.22723132],
       [0.29835033],
       [0.5634253 ],
       [0.6356345 ],
       [0.46438318],
       [0.42094213],
       [0.20188749]], dtype=float32)